body {
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #43ab86;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;
    --color-background: rgb(255, 255, 255);

    margin: 0;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-size: contain;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-back-card{
    width: 100%;
    object-fit: contain;
    border-radius: 4px 4px 0 0;
}
.login-back{
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30vw;
    max-width:600px;
    margin: 80px 0 0 0;
    padding: 0 0 2rem 0;
    box-shadow: 0 0 60px rgba(0, 0, 0, 2);
    border-radius: var(--border-radius);
    background: var(--color-background);
    z-index: 2; 
    align-items: center;
}

.container, 
.input,
.button {
    font: 500 .7rem 'Rubik', sanserif;
} 


.form--hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}
.form > *:last-child {
    margin-bottom: 0;
}

.title {
    margin-bottom: 2rem;
    text-align: center;
}

.message {
    text-align: center;
    margin-bottom: 1rem;
}

.message--success {
    color: var(--color-success);
}

.message--error {
    color: var(--color-error);
}

.input-group {
    margin-bottom: 1rem;
}

.input {
    display: block;
    width: 100%;
    padding: .75em 1em;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: var(--color-background);
    transition: background 0.2s, border-color 0.2s;
}

.input:focus {
    border-color: var(--color-primary);
    background: var(--color-background);
}

.input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.button {
    width: 100%;
    padding: .5em 5em ;
    font-weight: bold;
    font-size: .8rem;
    color: white;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.button:hover {
    background: var(--color-primary-dark);
}

.button:active {
    transform: scale(0.98);
}

.text {
    text-align: center;
}

.link {
    color: var(--color-secondary);
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.title {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
}

